.blue-dark-theme * {
	color: #e0f0f4 !important;
	stroke: #7a9aa9 !important;
}

.blue-dark-theme .app > * {
	background-color: #1d2a2e !important;
}

.blue-dark-theme #nav {
	background-color: #172024;
}

.blue-dark-theme .py-2\.5.my-auto.flex.flex-col.justify-between.h-screen {
	background: #172024;
}

.blue-dark-theme .bg-white.dark\:bg-gray-800 {
	background: #23333a;
}

.blue-dark-theme .w-4.h-4 {
	fill: #a7c7e7;
}

.blue-dark-theme #chat-input {
	background: #394552;
	margin: 0.3rem;
	padding: 0.5rem;
}

.blue-dark-theme .bg-gradient-to-t.from-white.dark\:from-gray-800.from-40\%.pb-2 {
	background: #23333a !important;
	padding-top: 0.6rem;
}

.blue-dark-theme
	.text-white.bg-gray-100.dark\:text-gray-800.dark\:bg-gray-600.disabled.transition.rounded-lg.p-1.mr-0\.5.w-7.h-7.self-center {
	background-color: #6e7a86;
	transition: background-color 0.2s ease-out linear;
}

.blue-dark-theme
	.bg-black.text-white.hover\:bg-gray-900.dark\:bg-white.dark\:text-black.dark\:hover\:bg-gray-100.transition.rounded-lg.p-1.mr-0\.5.w-7.h-7.self-center {
	background-color: #286983;
	transition: background-color 0.2s ease-out linear;
}

.blue-dark-theme
	.bg-black.text-white.hover\:bg-gray-900.dark\:bg-white.dark\:text-black.dark\:hover\:bg-gray-100.transition.rounded-lg.p-1.mr-0\.5.w-7.h-7.self-center
	> * {
	fill: #9ccfd8 !important;
	transition: fill 0.2s ease-out linear;
}

.blue-dark-theme
	.w-full.flex.justify-between.rounded-md.px-3.py-2.hover\:bg-gray-900.bg-gray-900.transition.whitespace-nowrap.text-ellipsis {
	background-color: #52626e;
	font-weight: bold;
}

.blue-dark-theme .hover\:bg-gray-900:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(53 73 82 / var(--tw-bg-opacity));
}

.blue-dark-theme .text-xs.text-gray-700.uppercase.bg-gray-50.dark\:bg-gray-700.dark\:text-gray-400 {
	background-color: #3d4952;
}

.blue-dark-theme .scrollbar-hidden.relative.overflow-x-auto.whitespace-nowrap.svelte-3g4avz {
	border-radius: 16px 16px 0 0;
}

.blue-dark-theme .base.enter.svelte-ug60r4 {
	background-color: #394552;
}

.blue-dark-theme .message.svelte-1nauejd {
	color: #e0f0f4 !important;
}

.blue-dark-theme #dropdownDots {
	background-color: #3d4952;
}

.blue-dark-theme .flex.py-2\.5.px-3\.5.w-full.hover\:bg-gray-800.transition:hover {
	background: #4f5f67;
}

.blue-dark-theme .m-auto.rounded-xl.max-w-full.w-\[40rem\].mx-2.bg-gray-50.dark\:bg-gray-900.shadow-3xl {
	background-color: #23333a;
}

.blue-dark-theme
	.w-full.rounded.p-4.text-sm.dark\:text-gray-300.dark\:bg-gray-800.outline-none.resize-none {
	background-color: #4f5f67;
}

.blue-dark-theme
	.w-full.rounded.py-2.px-4.text-sm.dark\:text-gray-300.dark\:bg-gray-800.outline-none.svelte-1vx7r9s {
	background-color: #4f5f67;
}

.blue-dark-theme
	.px-2\.5.py-2\.5.min-w-fit.rounded-lg.flex-1.md\:flex-none.flex.text-right.transition.bg-gray-200.dark\:bg-gray-700 {
	background-color: #3d4952;
}

.blue-dark-theme
	.px-2\.5.py-2\.5.min-w-fit.rounded-lg.flex-1.md\:flex-none.flex.text-right.transition.hover\:bg-gray-300.dark\:hover\:bg-gray-800:hover {
	background-color: #4f5f67;
}

.blue-dark-theme .px-4.py-2.bg-emerald-600.hover\:bg-emerald-700.text-gray-100.transition.rounded {
	background-color: #31748f;
}

.blue-dark-theme #chat-search > * {
	background-color: #3d4952 !important;
}

.blue-dark-theme .svelte-1ee93ns {
	--primary: #6f92eb !important;
	--secondary: #e0f0f4 !important;
}

.blue-dark-theme .svelte-11kvm4p {
	--primary: #9ccfd8 !important;
	--secondary: #1d2a2e !important;
}
